html,
body {
  padding: 0;
  margin: 0;
  font-family: myriad-pro, Myriad Pro, arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #24509a;
}

h2 {
  font-weight: 600;
  color: #24509a;
  margin: 20px 0px;
  font-size: 32px;
}

.maxWidth {
  max-width: 1440px;
  margin: 40px auto;
}

.map-title {
  width: 232px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #426da9;
  display: block;
}

.maps-info {
  width: 260px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  color: #53565a;
  display: block;
}

.map-direction {
  color: #0097a9;
  font-size: 16px;
}

ul.nav {
  background: gray;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-weight: bold;
}
